<b>Andreza</b>
<p>28 years old</p>

<% if Date.today.tuesday? %>
	<p>
		Izzy Ironside is <strong>NOT</strong>
		a fan of Tuesdays like today.
	</p>
<% end %>

<p>
	Izzy Ironside was born on
	<%= Date.today %>
</p>