<h1>Online Calculator</h1>

<h2>Operations Available:</h2>

<a href="/add">Addition</a>
<br>
<a href="/subtract">Subtraction</a>
<br>
<a href="/multiply">Multiplication</a>
<br>
<a href="divide">Division</a>
